html, body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #F4F6F6;
}

.header-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a topbox c"
    "a centerbox c"
    "a bottombox c";
  height: 100vh;
  background: #283747;
  color: #F4F6F6;
  align-items: center;
}

.header-top {
  grid-area: topbox;
  padding: 2%;
  font-size: 2em;
  text-align: center;
}
.header-middle {
  grid-area: centerbox;
  text-align: center;
  margin: 6%;
}

.header-bottom {
  grid-area: bottombox;
  text-align: center;
}

.available-button {
  border: solid 1.5px;
  border-color: #76D7C4;
  border-radius: 50px;
  padding: 5%;
}

.available-button:hover {
  color: black;
  background: whitesmoke;
}


.work-button:hover {
  font-size: 1.2em;
}

.footer-container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-template-areas:
    "lm tm header rm"
    "lm profile contact rm"
    "lm bm bm rm";
  background: whitesmoke;
  height: 100vh;
  min-height: 430px;
}

.footer-profile {
  grid-area: profile;
  text-align: center;
}

.footer-contact {
  grid-area: contact;
  text-align: center;
}

.footer-header {
  grid-area: header;
  align-self: end;
  padding: 10px;
  font-size: 1.5em;
}

.input {
  width: 85%;
  font-size: 1em;
  padding: 10px;
  margin-bottom: 5px;
  border: solid 1px #76D7C4;
  border-radius: 10px;
}

.input:focus {
  outline: none;
}

.submit {
  width: 85%;
  font-size: 1em;
  padding: 10px;
  border: solid 1px #76D7C4;
  border-radius: 10px;
  text-align: center;
  background: whitesmoke;
  margin: 0 auto;
  margin-bottom: 15px;
}

.submit:hover{
  background: #76D7C4;
}

img {
  width: 80%;
  max-width: 150px;
  border-radius: 50%;
}

.icon{
  color: #76D7C4;
  font-size: 3em;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "header header header";
  margin: 7%;
}

.heading {
  grid-area: header;
  justify-self: center;
  text-align: center;
}

.project {
  justify-self: center;
  margin: 5%;
  text-align: center;
  background: whitesmoke;
  padding: 5%;
}

.project-image {
  max-width: 90%;
  border: solid 1px #D7DBDD;
  border-radius: 20px;
}

.project-image:hover {
  border: solid 1px #76D7C4;
}

@media screen and (max-width: 580px) {
  .header-container {
    grid-template-columns: 0.25fr 2fr 0.25fr;
    min-width: 320px;
  }
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas: "header";
    min-width: 300px;
  }
  .footer-container {
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "lm header rm"
      "lm contact rm"
      "lm profile rm";
    min-width: 300px;
  }
  .profile {
    max-width: 100px;
  }
}

@media screen and (min-width: 580px) and (max-width: 800px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header";
  }
}
