html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #F4F6F6;
}

.navbar {
  background: whitesmoke;
  position: fixed;
  width: 100%;
  height: 10vh;
  text-align: center;
  min-width: 320px;
}

.navbar a {
  display: inline-block;
  color: #283747;
  padding: 10px;
/*  display: inline-block;
  vertical-align: middle;
*/}

.navbar a:hover{
  border: solid 1px #76D7C4;
}

.navbar-cushion {
  height: 10vh;
}
.header-container {
/*  position: absolute;
  bottom: 0;
*/  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 10vh 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav"
    "a topbox c"
    "a centerbox c"
    "a bottombox c";
  height: 100vh;
  background: #283747;
  color: #F4F6F6;
  align-items: center;
}

.header-top {
  grid-area: topbox;
  padding: 2%;
  font-size: 2em;
  text-align: center;
  align-self: end;
  padding-top: 15vh;
}
.header-middle {
  grid-area: centerbox;
  text-align: center;
  margin: 6%;
}

.header-bottom {
  grid-area: bottombox;
  text-align: center;
}

.available-button {
  border: solid 1.5px;
  border-color: #76D7C4;
  border-radius: 50px;
  padding: 5%;
}

.available-button:hover {
  color: black;
  background: whitesmoke;
}

.work-button:hover {
  font-size: 1.2em;
}

.footer-container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-template-areas:
    "lm tm header rm"
    "lm profile contact rm"
    "lm bm bm rm";
  background: whitesmoke;
  height: 100vh;
  min-height: 430px;
}

.footer-profile {
  grid-area: profile;
  text-align: center;
}

.footer-contact {
  grid-area: contact;
  text-align: center;
}

.footer-header {
  grid-area: header;
  align-self: end;
  padding: 10px;
  font-size: 1.5em;
}

#contact {
  background: whitesmoke;
}

.skills-container {
  height: 50vh;
  background: #FDEBD0;
}

.input {
  width: 85%;
  font-size: 1em;
  padding: 10px;
  margin-bottom: 5px;
  border: solid 1px #76D7C4;
  border-radius: 10px;
}

.input:focus {
  outline: none;
}

.submit {
  width: 85%;
  font-size: 1em;
  padding: 10px;
  border: solid 1px #76D7C4;
  border-radius: 10px;
  text-align: center;
  background: whitesmoke;
  margin: 0 auto;
  margin-bottom: 15px;
}

.submit:hover{
  background: #76D7C4;
}

.profile {
  width: 80%;
  max-width: 150px;
  border-radius: 50%;
}

.icon{
  color: #76D7C4;
  font-size: 3em;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "header header ";
  margin: 7%;
  margin-top: 2%;
  /*background: whitesmoke;*/
}

.heading {
  grid-area: header;
  justify-self: center;
  text-align: center;
  font-size: 1.5em;
}

.project {
  justify-self: center;
  /*margin: 5%;*/
  text-align: center;
  background: whitesmoke;
  padding: 0;
}

.project-image {
  max-width: 100%;
}

.project-description {
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  background: whitesmoke;
}

.project-link {
  color: #283747;
  border: solid 1px #76D7C4;
  padding: 3px;
}

.project-link:hover {
  background: #FDEBD0;
  border-width: 2px;
}

@media screen and (max-width: 650px) {
  .header-container {
    grid-template-columns: 0.25fr 2fr 0.25fr;
    min-width: 320px;
  }
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas: "header";
    min-width: 300px;
  }
  .footer-container {
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "lm header rm"
      "lm contact rm"
      "lm profile rm";
    min-width: 300px;
  }
  .profile {
    max-width: 100px;
  }
}

@media screen and (min-width: 651px) and (max-width: 800px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header";
  }
}
