body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #F4F6F6;
}


.header {
  max-width: 100%;
  padding: 2%;
  height: 100vh;
  background: #283747;
  color: #F4F6F6;
  text-align: center;
}


.footer {
  max-width: 100%;
  height: 200px;
  background: whitesmoke;
  text-align: center;
  padding: 2%;
  height: 50vh;
}

.icon{
  color: #76D7C4;
  font-size: 3em;
}
.intro {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "header header header";
  margin: 7%;
}

.hire-button {
  position: absolute;
  border: solid;
  border-color: #76D7C4;
  border-radius: 50px;
  padding: 1rem;
  top: 50%;
}

.work-button {
  position: absolute;
  bottom: 5vh;
}

.heading {
  grid-area: header;
  justify-self: center;
  text-align: center;
}

.project-section {
}

.project {
  justify-self: center;
  margin: 5%;
  text-align: center;
}

.project-image {
  max-width: 90%;
  border-radius: 5%;
}
